  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: 'Josefin Sans',
 sans-serif;
}

.image-fondo-one {
  width: 100%;
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  /* background-position:center center; */
}

.img{
  width: 16%;
  height: 16%;
  padding: .5em;
}
body{
  margin-top:0px;
}
/*ubicamos el navbar fijo y en 1era posicionada 1000 veces encima d cualquier imagen*/
nav{
  position: fixed;
  z-index: 1000;
  }

  /*Tamaño de texto de Logo*/
.text{
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 1.2em;
}

  /*Tamaño de barra de tabs*/
.ta{
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height:35px;
  width: 100%;
  background-color:#e2686d;
  margin: 0 auto;
  white-space: nowrap;
}

  /*Tamaño de texto tabs*/
.tt{
  font-size: 16px;
  padding: 10px;
}

/*cont-plantilla*/
.cont-plantilla img{
display: inline-block;
margin-top: 10rem;
}