  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: 'Josefin Sans',
 sans-serif;
}

.image-fondo-one {
  width: 100%;
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  /* background-position:center center; */
}

.img{
  width: 16%;
  height: 16%;
  padding: .5em;
}
body{
  margin-top:0px;
}
/*ubicamos el navbar fijo y en 1era posicionada 1000 veces encima d cualquier imagen*/
nav{
  position: fixed;
  z-index: 1000;
  }

  /*Tamaño de texto de Logo*/
.text{
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 1.2em;
}

  /*Tamaño de barra de tabs*/
.ta{
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height:35px;
  width: 100%;
  background-color:#e2686d;
  margin: 0 auto;
  white-space: nowrap;
}

  /*Tamaño de texto tabs*/
.tt{
  font-size: 16px;
  padding: 10px;
}

/*cont-plantilla*/
.cont-plantilla img{
display: inline-block;
margin-top: 10rem;
}

.justifity{
  text-align: justify;
  font-size: 16px;
  padding: 1rem;
}
.bold{
  font-weight: bold;
}
/**Pagina investigación**/
 .img-diseño h4{
display: inline-block;
margin-top: 12rem;
 }
.img-investigacion{
  display: inline-block;
  width: 70%;
  padding: 2rem;
}
.underlined{
  text-decoration: underline;
}

/**Media query**/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

  .img {
    width: 8%;
    height: 8%;
    padding: .5em;
  }

.cont-plantilla img {
  display: inline-block;
  margin-top: 16rem;
}

.justifity {
  text-align: justify;
  font-size: 18px;
  padding: 1rem;
}

 .img-diseño h4 {
   display: block;
    margin-top: 12rem;
 }

  }


@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1550px) {

.img {
  width: 8%;
  height: 8%;
  padding: .5em;
}
.cont-plantilla img {
  display: inline-block;
  margin-top: 17rem;
}

  .img-diseño h4 {
  display: block;
  margin-top: 14rem;
 }
 
}

@media only screen 
and (min-device-width: 1550px) 
and (max-device-width: 2560px) {
  .img {
    width: 5%;
    height: 5%;
    padding: .5em;
  }
.cont-plantilla img {
  display: inline-block;
  margin-top: 19rem;
}

  .img-diseño h4 {
    display: block;
    margin-top: 18rem;
  }

  .ta {   
    height: 50px;
    }

  .tt {
    font-size: 30px;
     }
.justifity {
  text-align: justify;
  font-size: 23px;
  padding: 1rem;
}
.text-menu{
  font-size: 25px;
}
}
